@font-face {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/JosefinSans.woff) format('woff');
}
@font-face {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/JosefinSans-Bold.woff) format('woff');
}
@font-face {
font-family: 'Josefin Sans';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/JosefinSans-Italic.woff) format('woff');
}
@font-face {
font-family: 'Josefin Sans';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/JosefinSans-BoldItalic.woff) format('woff');
}
